.nav-container {
    width: 20vw;
    padding-top: 100px;
    position: sticky;  /* Makes it sticky */
    top: 0;            /* Sticks it to the top */
    height: 100%;      /* Ensures it stretches vertically */
    img{
        // border-radius: 50%;
        width: 100px;
        height: 100px;
        object-fit: cover;
        object-position: left ;
    }
    
    @media (max-width: 768px) {
        padding-top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        width: 100%;
        p {
            display: none;
        }
    }
}