.nav-container {
    width: 20vw;
    padding-top: 100px;
    position: sticky;  /* Makes it sticky */
    top: 0;            /* Sticks it to the top */
    height: 100%;      /* Ensures it stretches vertically */
    img{
        border-radius: 50%;
        width: 100px;
        height: 100px;
        object-fit: cover;
        object-position: left ;
        margin-top: 20px;
        box-shadow: 0 0 10px 1px white;
    }
    
    @media (max-width: 768px) {
        background-color: red;
        display: flex;
        height: 100px;
        width: 50%;
        top: 0; /* Ensures it stays sticky at the top on small screens */
        p {
            display: none;
        }
    }
}