.navbar {
  position: relative;
  padding-top: var(--spacing-xxl);

  .hamburger-menu {
    display: none; // Hidden by default (desktop view)
    cursor: pointer;
    font-size: 1.8rem;
    background: none;
    border: none;
    color: var(--text-color);
    position: absolute;

    @media (max-width: 768px) {
      display: block; // Show only on mobile
      top: -20px;
    }

    &:hover {
      color: var(--text-light-color);
    }
  }

  .nav {
    transition: max-height 0.5s ease, opacity 0.5s ease;
  &--closed,
  &--open {
    display: block; 
  }

  @media (max-width: 768px) {
    &--closed {
      max-height: 0; 
      overflow: hidden; 
      opacity: 0; 
      visibility: hidden; 
      position: absolute;
      top: 50px;
      right: 0;
    }

    &--open {
      max-height: 300px; 
      opacity: 1; 
      visibility: visible; 
      position: absolute;
      z-index: 3;
      top: 50px;
      right: 0;
      background-color: #3e4da489;
      backdrop-filter: blur(5px);
      border-radius: 5px;
      padding: 10px;
      z-index: 9999;
    }
  }

    &__accordion-item {
      margin-bottom: 10px;

      .nav__accordion-header {
        cursor: pointer;
        padding-inline: 10px;
        background: none;
        border: none;
        color: var(--text-color);
        transition: color 0.3s;
        font-size: var(--font-size-lg);

        &:hover {
          transform: scale(1.05);
        }

        &--active {
          color: var(--text-light-color);
        }
      }

      .nav__accordion-body {
        overflow: hidden;
        transition: max-height 0.3s ease-out;

        .nav__subpoint-list {
          padding-left: 20px;
          list-style: none;
          @media (max-width: 768px){
            display: none;
          }

          .nav__subpoint-item {
            padding: 5px 0;
            cursor: pointer;
            transition: 0.3s;
            font-size: var(--font-size-sm);

            &:hover {
              color: var(--text-light-color);
            }

            &--active {
              font-weight: bold;
              transform: translateX(15px);
              color: var(--text-light-color);
            }
          }
        }
      }
    }
  }
}